<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr"
lang="fr">
<head>

<link type="text/css" href="{{ MEDIA_URL }}/css/ui-lightness/jquery-ui-1.8.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-ui-1.8.custom.min.js"></script>

{% block extrahead %}{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Kataplop{% endblock %} </title>


<script type="text/javascript">
	$(function() {
		$("#bottom-control").accordion();
	});
	</script>

</head>
<body>
<div id="header">{% block header %}This is a generic header {% endblock %}</div>
<div id="content">
{% block content %}
{% endblock %}
</div><!-- content -->

<div id="bottom-control">

  <h3><a href="#">Flights</a></h3>
  <div>
    <ul>
      <li><a href="/flight/">[list flights]</a></li>
      <li><a href="/flight/new">[add flight]</a></li>
      <li><a href="/flight/stats">[stats flights]</a></li>
    </ul>
  </div>


  <h3><a href="#">Wings</a></h3>
  <div>
    <ul>
      <li><a href="/wing/">[list wings]</a></li>
      <li><a href="/wing/new">[add wing]</a></li>
    </ul>
  </div>
  
  <h3><a href="#">Locations</a></h3>
  <div>
    <ul>
      <li><a href="/location/">[list locations]</a></li>
      <li><a href="/location/new">[add location]</a></li>
    </ul>
  </div>
</div>
</body>
</html>
