{% extends "flightlog/base.html" %}
{% block title %}Flight details for {{ flight }} {% endblock %}
{% block content %}
Delete the flight: {{ flight }}:
<ul>
  <li>{{ flight.date }}</li>
  <li>Duration : {{ flight.duration }}</li>
  <li>Takeoff: {{ flight.takeoff }}</li>
  <li>Landing: {{ flight.landing }}</li>
  <li>Wing: {{ flight.wing }}</li>
  <li>Distance: {{ flight.distance }}</li>
</ul>
<form method="post" action=".">
<p>Are you sure?</p>
<input type="submit" />
</form>
<a href="/flight/edit/{{flight.id}}">[edit]</a>
{% endblock %}