{% extends "flightlog/base.html" %}
{% block extrahead %}
{{map.media}}
{% endblock %}

{% block title %}Flight details for {{ flight }} {% endblock %}
{% block content %}
{{ flight }}:
<ul>
  <li>{{ flight.date }}</li>
  <li>Duration : {{ flight.duration }}</li>
  <li>Takeoff: <a href="/location/view/{{flight.takeoff.id}}">{{ flight.takeoff }}<a></li>
  <li>Landing: <a href="/location/view/{{flight.landing.id}}">{{ flight.landing }}</a></li>
  <li>Wing: <a href="/wing/view/{{flight.wing.id}}">{{ flight.wing }}</a></li>
  <li>Distance: {{ flight.distance }}</li>
</ul>


<table>
  <tr>
    <td>Geographic location:</td>
    <td>
      {{map}}
    </td>
  </tr>
</table>

<a href="/flight/edit/{{flight.id}}">[edit]</a><a href="/flight/del/{{flight.id}}">[del]</a>
{% endblock %}
